<footer class="footer">
  <div class="footer-content">
    <div class="footer-section">
      <h3 class="footer-logo">Bellili <span class="highlight">Amir</span></h3>
      <p class="footer-description">{{ 'FOOTER.DESCRIPTION' | translate }}</p>
      <div class="social-links">
        <a href="https://www.linkedin.com/in/amir-bellili-654011390/" target="_blank" class="social-link linkedin" title="LinkedIn">
          <i class="fab fa-linkedin-in"></i>
        </a>
        <a href="https://github.com/Amirbellili" target="_blank" class="social-link github" title="GitHub">
          <i class="fab fa-github"></i>
        </a>
        <a href="https://x.com/bellili_amir" target="_blank" class="social-link twitter" title="X">
           <i class="fab fa-x-twitter"></i>
        </a>
        <a href="https://www.instagram.com/amir_bellili?igsh=c3o0eXJyOWluM3E1" target="_blank" class="social-link instagram" title="Instagram">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="https://www.facebook.com/amir.bellili.39" target="_blank" class="social-link facebook" title="Facebook">
          <i class="fab fa-facebook-f"></i>
        </a>
      </div>
    </div>

    <div class="footer-section">
      <h4>{{ 'FOOTER.QUICK_LINKS' | translate }}</h4>
      <ul class="footer-links">
        <li><a href="#home">{{ 'HEADER.HOME' | translate }}</a></li>
        <li><a href="#about">{{ 'HEADER.ABOUT' | translate }}</a></li>
        <li><a href="#service">{{ 'HEADER.SERVICE' | translate }}</a></li>
        <li><a href="#portfolio">{{ 'HEADER.PORTFOLIO' | translate }}</a></li>
        <li><a href="#contact">{{ 'HEADER.CONTACT' | translate }}</a></li>
      </ul>
    </div>

    <div class="footer-section">
      <h4>{{ 'FOOTER.SERVICES' | translate }}</h4>
      <ul class="footer-links">
        <li><a href="#service">{{ 'SERVICES.WEB_DEV.TITLE' | translate }}</a></li>
        <li><a href="#service">{{ 'SERVICES.MOBILE_DEV.TITLE' | translate }}</a></li>
        <li><a href="#service">{{ 'SERVICES.UIUX.TITLE' | translate }}</a></li>
        <li><a href="#service">{{ 'SERVICES.CONSULTING.TITLE' | translate }}</a></li>
      </ul>
    </div>

    <div class="footer-section">
      <h4>{{ 'FOOTER.CONTACT_INFO' | translate }}</h4>
      <ul class="footer-contact">
        <li>
          <i class="fas fa-envelope"></i> 
          amirbellili12346@gmail.com
        </li>
        <li>
          <i class="fas fa-phone-alt"></i> 
          +216 52 015 289
        </li>
        <li>
          <i class="fas fa-map-marker-alt"></i> 
          sbeitla,kassrine,Tunisia
        </li>
      </ul>
    </div>
  </div>

  <div class="footer-bottom">
    <p>© 2025 Bellili Amir. {{ 'FOOTER.RIGHTS' | translate }}</p>
    </div>

  <button class="back-to-top" (click)="scrollToTop()" *ngIf="showBackToTop" title="Back to top">
    <i class="fas fa-arrow-up"></i>
  </button>
</footer>