<header class="header">
  <div class="logo">
    Bellili <span class="highlight">Amir</span>
  </div>
  <nav class="nav">
    <a href="#home">{{ 'HEADER.HOME' | translate }}</a>
    <a href="#about">{{ 'HEADER.ABOUT' | translate }}</a>
    <a href="#service">{{ 'HEADER.SERVICE' | translate }}</a>
    <a href="#portfolio">{{ 'HEADER.PORTFOLIO' | translate }}</a>
    <a href="#contact">{{ 'HEADER.CONTACT' | translate }}</a>
    <app-language-selector></app-language-selector>
    <a href="#hire" class="hire-btn">{{ 'HEADER.HIRE_ME' | translate }}</a>
  </nav>
</header>